


body {
    background: url("../contents/owbg1.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1.5em;
    font-family: Overwatch2;
    letter-spacing: 1.2px;

}

#searchbox{
    width: 50%;
    height: 30%;
    background-color: rgba(30,30,30,0.7);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 1em;
    padding-top:1em;
    border: solid;
    border-color: #262626;
    font-size: 1em;
    color: slategrey;
    border-radius: 5px;
    z-index: -2;
    overflow: auto;
}


#searchboxtext1[type=text] {
    width: 63%;
    height: 20%;
    background-color: rgba(190,190,190,0.8);
    float: top;
    margin-top: 1.5em;
    margin-left: 5%; 
    padding-left: 1em;
    border: solid;
    border-color: darkslategray;
    font-size: 1em;
    color: slategrey;
    border-radius: 5px;

}



#searchboxtext2[type=text] {
    width: 63%;
    height: 20%;
    background-color: rgba(190,190,190,0.8);
    float: top;
    margin-top: 1.5em;
    margin-left: 5%; 
    padding-left: 1em;
    border: solid;
    border-color: darkslategray;
    font-size: 1em;
    color: slategrey;
    border-radius: 5px;
    position: relative;

}


#searchbutton {
    position: absolute;
    height: 10%;
    width: 20%;
    bottom: 20%;
    left: 7%;
    border: 2px solid #111;
    border-color: #262626;
    border-radius: 4px;
}

#serverid {
    position: absolute;
    height: 10%;
    width: 20%;
    bottom: 20%;
    right: 40%;
    border: 2px solid #111;
    border-color: #262626;
    border-radius: 4px;
}

#owlogo {
    width: 18%;
    height: 50%; 
    position: absolute;
    top:22%;
    right:4%;
    z-index: -1;
}



.nav li{
    color: whitesmoke;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px;
    color: grey;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,0.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#logincolor {
    color: grey;
}

#tablebg {
    background-color: rgba(30,30,30,0.75);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 1em;
    padding-top:1em;
    border: solid;
    border-color: #262626;
    font-size: 1em;
    color: slategrey;
    border-radius: 5px;
    z-index: -2;
}



.statscontent {
    background-color: rgba(255,250,250,0.75);

    margin-bottom: 1em;
    padding-left: 1em;
    padding-top:1em;
    border: solid;
    border-color: #262626;
    font-size: 1em;
    color: slategrey;
    border-radius: 5px;
    z-index: -2;
    overflow: auto;

}

#playerinfo {
    background-color: rgba(30,30,30,0.75);
    margin-bottom: 1em;
    /*    padding-bottom:0.7em;
        padding-top:0.7em;*/
    border: solid;
    border-color: #262626;
    font-size: 1em;
    color: slategrey;
    border-radius: 5px;
    z-index: -2;
    overflow: auto;


}

#playerName {
    font-family: Overwatch;
    display:inline-block;
    margin-left: 1.5em;
    color: #cccccc;
    font-size: 2.5em;
    border-bottom: 3.5px solid #666666;
    text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 10px 9px -9px black;


}

#playerLevel {
    font-weight: bold;
    margin-left: -3.62em;
    margin-top: 2em;
    color: #cccccc;
    font-size: 2em;
    text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
}

#rankText {
    color: #cccccc;
    font-size: 2em;
    text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
    display:inline-block;
    margin-left: 10em;
}

.container {
    width: 100%;
}

#avatarResize {
    width: 3em;
    height: 3em;
    border: solid;
    border-color: papayawhip;
    border-radius: 5px;

}

#avatarResize2 {
    width: 7em;
    height: 7em;
    border: solid;
    border-color: #262626;
    border-radius: 5px;
    display:inline-block;
    margin-left: 2em;

}

#rankImgResize {
    width: 11.5em;
    height: 11.5em;
    display:inline-block;
    margin-left: 1.5em;
}


#statSelector{
    padding-bottom: 2em;
    padding-left: 5em;

}

#statsId {
    display:inline-block;
    border: 2px solid #111;
    background-color: #cccccc;;
    color: #333333;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 1em;
    border-color: #262626;
    width: 8em;
    height: 2em;
    font-size: 1.3em;
}

#statsId::-ms-expand { 
    display: none; 
}



@font-face { 
    font-family: "Overwatch"; 
    src: url("https://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff');
}


@font-face {
    font-family: "Overwatch2";
    src: url('../contents/big_noodle_titling.woff2') format('woff2'),
        url('../contents/big_noodle_titling.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#statHeader {
    display:inline-block;
    font-family: Overwatch;
    padding-right: 2em;

}

#tableHead{
    padding-bottom:3em;
    font-size: 1.5em;
    font-family: Overwatch;
}

tr {
    font-size: 1.3em;
    color: #cccccc;
}

.navbar-brand {
    font-family: Overwatch;
    font-size: 1.7em;
}

#navFont {
    font-size: 1.3em;
}

#loginText {
    font-size: 1.3em;
}



#aboutbox {
    width: 90%;
    height: 75%;
    background-color: rgba(30,30,30,0.9);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 1em;
    padding-top:1em;
    border: solid;
    border-color: #262626;
    font-size: 1em;
    color: slategrey;
    border-radius: 5px;
    z-index: -2;
    overflow: auto;

}
